
.mb10{
    margin-bottom: 10px;
}

.mb20{
    margin-bottom: 20px;
}

.mb15{
    margin-bottom: 15px;
}

.mb30{
    margin-bottom: 30px;
}

.mb50{
    margin-bottom: 50px;
}

.mb90{
    margin-bottom: 90px;
}

.mt30{
    margin-top: 30px;
}

.container{
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    height: 100vh;
    /*background-image: url("../img/backimage.png");
    background-repeat: no-repeat;
    background-size: cover;*/
}

/*.logo img{
    position: absolute;
    margin-top: 40px;
    width: 220px;
    right:30px;
}*/

/*width: 360px;
background-color: #000000c9;
margin: 0 auto;
margin-bottom: 0px;
padding: 30px;
padding-top: 20px;
padding-bottom: 15px;*/

/*border-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;*/

.tab-block{
    position: absolute;
    border-radius: 7px;
    border: solid 1px #EA9617;
    /*background-color: #EA9617;*/
    margin-top: 100px;
    right:30px;
    width: 450px;
}

.tab-block2{
    position: absolute;
    border-radius: 7px;
    border: solid 1px #EA9617;
    background-color: #FFFFFF;
    margin-top: -30px;
    padding: 15px 15px 15px 0;
    right:30px;
    width: 450px;
}

.tab-block3{
    position: absolute;
    border-radius: 7px;
    border: solid 1px #EA9617;
    margin-top: 100px;
    right:30px;
    margin-right: 100px;
    background: #f8ddb4;
    width: 500px;
}

.btn#btn_submit_vie, .btn#btn_submit_iard, .btn#btn_submit_sante, .btn#btn_valider, #btn_verif, #btn_verif_iard, #btn_verif_sante{
    background-color: #00008b !important;
    color: white;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
}

.tab-content{
    border: 1px solid #ddd;
    border-top: none;
}

.tab-content .row{
    margin-left: 0;
    margin-right: 0;
}

.tab-content .row:last-child{
    margin-top: 30px;
}

.form-control{
    background-color: #ffffffe3;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
    background-color: #f8ddb4 !important;
    color: black !important;
    border: 1px solid white;
}

.nav-tabs>li>a:hover {
    background-color: #ea9617c7;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fbfbfb;
}

div.scroll {
    margin:auto;
    width: 100%;
    height: 226px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    /*border-top: 1px solid #ddd;*/
}

div.scroll .row.row-primes{
    height: 75px;
    margin: 0 0 0 0;
    border-bottom: 1px solid #dddddd5c;
}

div.scroll .check{
    text-align: center;
    height: 100%;
    padding: 20px 0;
    margin: auto;
}

div.scroll .title{
    padding: 0 10px;
}

div.scroll .title h5{
    color: red;
    text-decoration: underline;
}

div#vie div.scroll .title h4{
    margin-bottom: 0;
    margin-top: 5px;
}

div#vie div.scroll .title h5{
    margin-top: 0;
}

div#vie div.scroll .title span{
    font-size: small;
}

div#vie div.scroll .montant{
    height: 100%;
}

div#vie div.scroll .montant p:nth-child(1){
    color: red;
    font-weight: bold;
}

div#vie div.scroll .montant p:nth-child(2){

}

div#iard div.scroll .montant{
    height: 100%;
    color: red;
    font-weight: bold;
}

div#iard div.scroll .montant p{
    height: 100%;
    text-align: center;
    padding: 20px 0;
}

div.liste_primes div.scroll{
    border-top: none;
    height: 150px;
}

div.liste_primes div.scroll .montant p{
    height: 100%;
    text-align: right;
    padding: 20px 0;
}

div.liste_primes div.scroll .row.row-primes{
    height: 65px;
    margin: 0 0 0 0;
    border-bottom: none;
}

/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #ffffff00;
    border-bottom: 1px solid #ffffff00 !important;
}*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    /*color: #555;*/
    color: white !important;
    cursor: default;
    background-color: #e67902 !important;
    border-bottom: 1px solid #e67902 !important;
}

.tab-content center{
    width: 250px;
    margin: 15px auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.form-group label{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab{
    /*padding: 10px;*/
}

tbody.tr-bim:nth-child(odd) { background: #f5f5f5;  border: solid 1px #ddd; }
tbody.tr-bim:nth-child(even) { background: #e5e5e5;  border: solid 1px #ddd; }

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
    position: fixed;
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

}
.carousel .one {
    background: url(../img/fonds/back1.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .two {
    background: url(../img/fonds/back2.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .three {
    background: url(../img/fonds/back3.jpg);
    background-size: cover;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.form-group .label-radio {
    margin-top: 0px;
    margin-bottom: 30px;
}


/* MEDIA QUERIES */
@media(max-width:767px){
    .tab-block3{
        position: absolute;
        border-radius: 7px;
        border: solid 1px #EA9617;
        right:0;
        margin: 90px 10px 10px 0;
        background: #f8ddb4;
        width: 95%;
    }

    .tab-block3 .col-sm-4.control-label{
        padding: 0;
    }

    .tab-block3 .tab ul.nav li {
        display: inline-block;
        width: 49%;
    }
}
@media(max-width:768px){
    #btn_logout {
        float: left;
    }


    .tab-block3 .tab ul.nav li {
        display: inline-block;
        width: 49%;
    }
}
@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}