body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  font-family: Futura;
  min-width: 300px;
}


input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Futura;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {

  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Futura;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}



/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #d73925;
}
</style>